
/*reset*/
body, h3, ul {
	margin: 0;
	padding: 0;
}
li {list-style: none;}
/*end reset*/
body{
	/*宽度自适应，内容居中显示*/
	width: 100%;
	text-align: center;
	}

/*head*/
.header {
	/*宽度自适应*/
	width: 100%;
	background: #f8f8f8;
	}


.header h3 {
	/*font-size: 29px;
	line-height: 69px;*/
	font-size:0.453125rem;
	line-height:1.078125rem;
	color:#777;
	}
.content {
	/*
	overflow:hidden;触发BFC，计算宽高时包括浮动元素
	*/
	overflow: hidden;
	width: 100%;
	/*padding-top: 28px;
	padding-bottom: 15px;*/
	padding-top:0.4375rem;
	padding-bottom:0.234375rem;
	border-bottom: 0.015625rem solid #e0e0e0;
	background: #ffffff;
}
.content img{
	float:left;
	padding-left:5%;
	width:0.40625rem;
	height:0.328125rem;
	}
	
.content h3 {
	/*添加浮动，使h3和span同行显示*/
	float: left;
	padding-left:3%;
	/*font-size: 29px;*/
	font-size:0.453125rem;
	color: #777777;
	
}
.content span.num {
	/*向右浮动*/
	float: right;
	padding-right: 9%;
/*	font-size: 17px;*/
	font-size:0.4rem;
	font-weight: bold;
	color: #777777;
}
.content ul {
	/*宽度自适应，清除h3和span浮动的影响*/
	/*margin-top: 57px;*/
	margin-top:0.890625rem;
	width: 100%;
	clear: both;
	text-align: left;
}
.content li {
	position:relative;
	/*height: 59px;*/
	/*height:0.96rem;*/
	height:1.4rem;
	padding-left:3%;
	padding-right: 10%;
	border-top:0.016rem solid #ccc;
	/*margin:0.5rem 0;*/
	
}

.content span {
	float:left;
	color: #000;
	font-size:0.421875rem;
	line-height:0.921875rem;
	padding-left:2%;
	
}
.content .time{
	position:absolute;
	top:0.5rem;
	left:2%;
	font-size:0.35rem;
	color:#999;
	
	}
.content .bonus {
	float: right;
	color: #008000;
	font-weight:bold;
	/*font-size: 23px;
	line-height: 53px;*/
	/*font-size:0.359375rem;*/
	font-size:0.4rem;
	line-height:0.9rem;
	
}
