
/*reset*/
body, h3, ul {
	margin: 0;
	padding: 0;
}
li {list-style: none;}
/*end reset*/
body{
	/*宽度自适应，内容居中显示*/
	width: 100%;
	text-align: center;
	}

/*head*/
.header {
	/*宽度自适应*/
	width: 100%;
	background: #f8f8f8;
	}


.header h3 {
	/*font-size: 29px;
	line-height: 69px;*/
	font-size:0.453125rem;
	line-height:1.078125rem;
	color:#777;
	}
/* end head*/

/*search*/
.search {
	/*相对定位，宽度自适应*/
	position: relative;
	width: 100%;
	background: #ebeced;
	border: 0.015625rem solid #e0e0e0;
	height:1.3125rem;
}
.search form{
	position:absolute;
	width:90%;
	height:0.625rem;
	top:23%;
	left:5%;
	}
.search input {
	/*圆角半径为5px,
	 宽度自适应
	 搜索图标作为背景距离左边40%，垂直居中
	 内容居中显示
	 */
	position:absolute;
	left:0;
	border:0.015625rem solid #e0e0e0;
	border-radius:0.078125rem;
	width: 95%;
	background: #fff url(../images/searchIcon%20.png) no-repeat 43% center;
	text-indent:47%;
	font-size:0.375rem;
	line-height:0.625rem;
	color: #bbbbbb;
	
}
[data-dpr='2'] .search input{
	background:#fff url(../images/searchIcon@2x.png) no-repeat 43% center;
	}
[data-dpr='3'] .search input{
	background:#fff url(../images/searchIcon%20@3x.png) no-repeat 43% center
	}
.search input.active {
	/*宽度自适应*/
	position:static;
	float:left;
	margin:0 15px 0 0;
	width: 70%;
	text-indent:0;
	/*margin-left: -10%;*/
	text-align: left;
	padding-left:1.2rem;
	background:#fff url(../images/searchIcon%20.png) no-repeat 0.6rem center;
}
/*查询dpr*/
[data-dpr='2'] .search input.active{
	background:#fff url(../images/searchIcon@2x.png) no-repeat 0.6rem  center;
	}
[data-dpr='3'] .search input.active{
	background:#fff url(../images/searchIcon%20@3x.png) no-repeat 0.6rem  center;
	}
/*end 查询dpr*/

.search span.cancel {
	/*
	绝对定位，不触发时不显示
	*/
	/*position: absolute;
	top:10%;
	right:1em;*/
	float:left;
	margin-top:0.09rem;
	display: none;
	color: #00a5e0;
	font-size:0.4375rem;
}
/* end search*/

/* content*/
.content {
	/*
	overflow:hidden;触发BFC，计算宽高时包括浮动元素
	*/
	overflow: hidden;
	width: 100%;
	/*padding-top: 28px;
	padding-bottom: 15px;*/
	padding-top:0.4375rem;
	padding-bottom:0.234375rem;
	border-bottom: 0.015625rem solid #e0e0e0;
	background: #ffffff;
}
.content img{
	float:left;
	padding-left:5%;
	width:0.40625rem;
	height:0.328125rem;
	}
	
.content h3 {
	/*添加浮动，使h3和span同行显示*/
	float: left;
	padding-left:3%;
	/*font-size: 29px;*/
	font-size:0.453125rem;
	color: #777777;
	
}
.content span.num {
	/*向右浮动*/
	float: right;
	padding-right: 9%;
/*	font-size: 17px;*/
	font-size:0.4rem;
	font-weight: bold;
	color: #777777;
}
.content ul {
	/*宽度自适应，清除h3和span浮动的影响*/
	/*margin-top: 57px;*/
	margin-top:0.890625rem;
	width: 100%;
	clear: both;
	text-align: left;
}
.content li {
	
	/*height: 59px;*/
	height:0.96rem;
	padding-left: 12%;
	padding-right: 10%;
	/*margin:0.5rem 0;*/
}
.content .icon{
	width:0.875rem;
	height:0.953125rem;
	margin-left:-13%;
	float:left;
	}
.content .friends {
	float:left;
	color: #000;
	font-size:0.421875rem;
	line-height:0.921875rem;
	padding-left:2%;
	
}
.content .focus {
	float: right;
	color: #008000;
	/*font-size: 23px;
	line-height: 53px;*/
	/*font-size:0.359375rem;*/
	font-size:0.3125rem;
	line-height:0.828125rem;
	
}
/* end content*/
